@model IEnumerable<UserAuthentication.Models.DepartmentStaff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Department ID
        </th>
        <th>
            Staff ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffID)
        </td>
        <td>
          
            @Html.ActionLink("Delete", "Delete", new { d_id = item.DepartmentID, s_id = item.StaffID })
        </td>
    </tr>
}

</table>
